<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="~/images/itsRT.png">
    <title>@ViewData["Title"] - RoomTech.CloudManager.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/css/bar.css" />
    <link rel="shortcut icon" href="~/images/itsRT.png">

    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/lib/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/lib/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/lib/jqvmap/dist/jqvmap.min.css">


    <link rel="stylesheet" href="~/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

    <div id="right-panel" class="right-panel">

        <div class="container-fluid">
           @RenderBody()
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/js/main.js"></script>

    <script src="~/lib/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="~/lib/js/dashboard.js"></script>
    <script src="~/lib/js/widgets.js"></script>
    <script src="~/lib/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="~/lib/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="~/lib/jqvmap/dist/maps/jquery.vmap.world.js"></script>
</body>
</html>
