@page
@model AuleModel
@{
    ViewData["Title"] = "Classrooms";
}
<h1>@ViewData["Title"]</h1>

<div class="mb-5">
    <select class="custom-select">
        <option selected>Select classroom</option>
        <option value="1">L2</option>
        <option value="2">L3</option>
        <option value="3">L10</option>
    </select>
</div>

<div class="card" style="width: 100%;">
    <img src="/images/Aula_L2.jpg" class="card-img-top">
    <div class="card-header">
        <h5 class="card-title">Classroom: L2</h5>
    </div>
    <div class="card-body">
        <p class="card-text">Docente: Rossi</p>
        <p class="card-text">Materia: Matematica</p>
        <p class="card-text">Docente: Rossi</p>
    </div>
    <div class="card-footer">
        Scadenza: 50s
    </div>
</div>
