@page
@model SetLessonModel
@{
    ViewData["Title"] = "Add Lesson";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="card">
        <div class="card-body">
            <!--AULA-->
            <div class="input-group mb-5">
                <label class="input-group-text" asp-for="Lesson.Classroom" for="inputGroupSelect01">Classroom</label>
                <select class="custom-select" asp-for="Lesson.Classroom" id="classroom">
                    <option selected></option>
                    <option value="1">L2</option>
                    <option value="2">L3</option>
                    <option value="3">L10</option>
                </select>
            </div>
            <!--DOCENTE-->
            <div class="input-group mb-5">
                <label class="input-group-text" asp-for="Lesson.Teacher" for="inputGroupSelect01">Classroom</label>
                <select class="custom-select" asp-for="Lesson.Teacher" id="teacher">
                    <option selected></option>
                    <option value="1">Rossi Mario</option>
                    <option value="2">Bianchi Simona</option>
                    <option value="3">Verdi Giulio</option>
                </select>
            </div>
            <!--MATERIA-->
            <div class="input-group mb-5">
                <span class="input-group-text" id="basic-addon1">Subject</span>
                <input type="text" class="form-control" asp-for="Lesson.Subject" placeholder="" id="subject" aria-label="Subject" aria-describedby="basic-addon1">
            </div>
            <!--DURATA-->
            <div class="input-group mb-5">
                <select class="custom-select col-3" asp-for="Lesson.Duration" id="duration">
                    <option selected>Durata</option>
                    <option value="1">Seconds</option>
                    <option value="2">Minutes</option>
                    <option value="3">Hours</option>
                </select>
                <input type="number" class="form-control" aria-label="">
            </div>

            <div>
                <button type="submit" class="btn btn-success col-9">Confirm</button>
                <a asp-page="/SetLessons" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</form>
